/* Dependances Start */
@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');
/* Dependances End */

/* Main CSS Start */
:root
{
    /* Font Size Start */
    --small-text-size: calc(var(--text-size) * 0.9);
    --text-size: 2.2vmin;
    --big-text-size: calc(var(--text-size) * 1.1);
    --small-title-size: calc(var(--title-size) * 0.6);
    --title-size: 4vmin;
    --big-title-size: calc(var(--title-size) * 1.4); 
    /* Font Size End */

    /* Font Family Start */
    --text-family: 'Bai Jamjuree', sans-serif;
    --title-family: 'Bai Jamjuree', sans-serif;
    /* Font Family End */

    /* Colors Start */
    --color-primary: hsl(171, 66%, 44%);
    --color-secondary: hsl(233, 100%, 69%);
    --color-tertiary: hsl(201, 11%, 66%);
    --color-accent:  hsl(210, 10%, 33%);
    --color-contrast: #fff;
    /* Colors End */
}

*
{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: inherit;
	text-transform: inherit;
	color: inherit;
	list-style: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

body
{
	font-size: var(--text-size);
	color: var(--color-accent);
	list-style: none;
	font-family: var(--text-family);
	font-weight: 400;
	text-decoration: none;
    text-transform: none;
}

::-webkit-scrollbar 
{
    width: 7px;
}

::-webkit-scrollbar-track 
{
    background: white;
}

::-webkit-scrollbar-thumb 
{
    background: var(--color-secondary);
    border-radius: 25px;
}

@media only screen and (max-width: 480px), (orientation: portrait)
{
    :root
    {
        --text-size: 12px;
        --title-size: 16px;
    }
}

/* Main CSS End */

/* General CSS Start */
.container-slim {
    width: 45%;
}

.paragraph{
    color: lightsteelblue;
    margin-bottom: 3rem;
}

.small-title {
    font-size: var(--small-title-size);
    font-weight: bold;
    margin-bottom: .6rem;
}

.small-paragraph {
    font-size: var(--small-text-size);

}

.btn-blue {
    background-color: var(--color-primary);
    color: var(--color-contrast);
    padding: .7rem 1.5rem;
    font-size: var(--small-text-size);
    font-weight: bold;
    border-radius: 5rem;
    margin: .2rem .5rem;
    box-shadow: 0px 3px grey;
}

.btn-purple {
    background-color: var(--color-secondary);
    color: var(--color-contrast);
    padding: .7rem 1.5rem;
    font-size: var(--small-text-size);
    font-weight: bold;
    border-radius: 5rem;
    margin: .2rem .5rem;
    box-shadow: 0px 3px grey;
}

@media only screen and (max-width: 900px), (orientation: portrait){
    .container-slim{
        width: 80%;
    } 
}

@media only screen and (max-width: 480px), (orientation: portrait){
    .btn-blue {
        width: 100%;
        margin-bottom: 1rem;
    }
    .btn-purple {
        width: 100%;
    }
}

/* General CSS End */


/* Header Start */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url('../images/bg-header-desktop.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

#logo{
    width: 12%;
    margin-bottom: 2.5rem;
}

.header-content{
    text-align: center;
}
.big-title{
    font-size: var(--big-title-size);
    font-weight: 800;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 480px), (orientation: portrait){
    header {
        height: 90vh;
        background-image: url('../images/bg-header-mobile.png');
    }
    #logo{
        width: 40%;
    }
    .header-paragraph{
        margin-bottom: 2rem;
    }
}

/* Header End */

/* Main Start */

    /* Section 2 */
.secc02 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.medium-title{
    font-size: var(--title-size);
    font-weight: bold;
    margin-bottom: 1rem;
}

    /* Section 3 */
.secc03{
    display: flex;
    flex-wrap: nowrap;
}
.computer-container{
    width: 50%;
    position: relative;
}

#computer-img {
    width: 110%;
    position: absolute;
    left: -10%;
}

.computer-info {
    width: 50%;
    padding: 0 20% 0 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Main End */

.hidden{
    display: none;
}
/* Footer Start */
.copyright
{
    display: none;
}
/* Footer End */